:root {
  /* Aggressive toggles */
  --display-images: none !important;
  --display-videos: none !important;

  /* Show/Hide images */
  --display-card-image: none !important;
  --display-coverart-image: none !important;
  --display-header-image: none !important;
  --display-library-image: none !important;
  --display-tracklist-image: none !important;
  --display-marketplace-image: none !important;

  /* Show/Hide buttons */
  --display-miniplayer: none;
  --display-now-playing: none;
  --display-browse: none;

  /* Recolor */
  --spice-main-elevated: var(--spice-main);
  --spice-shadow: var(--spice-main);
  --spice-selected-row: var(--spice-subtext);
  --spice-selected-row: var(--spice-subtext);
  --spice-button: var(--spice-accent);
  --spice-button-active: var(--spice-accent-active);
  --spice-button-disabled: var(--spice-accent-inactive);
  --spice-tab-active: var(--spice-main);
  --spice-rgb-main-elevated: var(--spice-rgb-main);
  --spice-rgb-highlight-elevated: var(--spice-rgb-main);
  --spice-rgb-sidebar: var(--spice-rgb-main);
  --spice-rgb-player: var(--spice-rgb-main);
  --spice-rgb-card: var(--spice-rgb-main);
  --spice-rgb-shadow: var(--spice-rgb-main);
  --spice-rgb-selected-row: var(--spice-rgb-subtext);
  --spice-rgb-button: var(--spice-rgb-accent);
  --spice-rgb-button-active: var(--spice-rgb-accent-active);
  --spice-rgb-button-disabled: var(--spice-rgb-accent-inactive);
  --spice-rgb-tab-active: var(--spice-rgb-main);
}

/* ---Aggressive--- */
img {
  display: var(--display-images);
}

video {
  display: var(--display-videos);
}

/* ---General--- */

/* Hide mini-player button */
button[aria-label="Open Miniplayer"] {
  display: var(--display-miniplayer);
}

/* Hide "now playing" button */
button[data-restore-focus-key="now_playing_view"] {
  display: var(--display-now-playing);
}

/* Remove "browse" icon from the search bar */
button[aria-label="Browse"] {
  display: var(--display-browse);
}

/* Remove elements */
.Root__right-sidebar:has(.NowPlayingView) /* "now playing" sidepanel*/ {
  display: none;
}

/* "Quick preview" */
/* hide the svg animation*/
.K06ol8ltPT_atXE_JjUP div {
  content-visibility: hidden;
}
/* add a dotted border so the button is still visible */
.K06ol8ltPT_atXE_JjUP {
  border: dotted;
  border-radius: 15px;
}

/* Resize scrollbar smaller */
.os-theme-spotify.os-scrollbar {
  --os-size: 3px;
}

/* ---Home page--- */

/* Hide "All, Music, Podcasts" buttons */
.main-home-filterChipsContainer,
.main-actionButtons {
  display: none !important;
}

/* Remove gradiant */
.main-actionBarBackground-background,
.main-home-homeHeader,
.main-entityHeader-gradient,
.main-entityHeader-backgroundColor,
.main-entityHeader-background {
  background-color: var(--spice-main) !important;
  background-image: none !important;
}

/* Gradients on the sides */
.U8wi3gXSb248Imbxy4gc .a2NTH51fJWzWsds0OYv_:after,
.Yjx8QrpjqgjqQPj4KWCh .a2NTH51fJWzWsds0OYv_:before {
  opacity: 0;
}

/* Recent shorcut grid background */
.view-homeShortcutsGrid-shortcut {
  background-color: var(--spice-main) !important;
}

/* Hide element */
.view-homeShortcutsGrid-imageWrapper, /* Recent shortcuts remove images */
section[aria-label="Music videos for you"], /* "Music videos for you" */
.vYl1kgf1_R18FCmHgdw2, .vYl1kgf1_R18FCmHgdw2>* /* Release announcement */ {
  display: none !important;
}

/* Carousel gradients */
.cZrkCxXnCc7KLZqAqWoz .main-home-content {
  --carousel-start-chevron-gradient: rgba(0, 0, 0, 0);
  --carousel-end-chevron-gradient: rgba(0, 0, 0, 0);
}

/* ---Images--- */
.main-card-imageContainer img,
.view-homeShortcutsGrid-imageContainer img,
img.main-image-image {
  display: var(--display-card-image) !important;
}

.main-coverSlotCollapsed-container,
.PromotionDefaultNativeImage-module_image__SAcfY, /* "New release from" album art */
.ag7k_TUtB1kcSDM06CkY /* "New release from" artist art */ {
  display: var(--display-coverart-image);
}

.main-entityHeader-imageContainer,
.under-main-view,
.main-entityHeader-creatorWrapper .main-avatar-avatar,
.playlist-playlist-playlistImageContainer,
.profile-userOverview-imageContainer {
  display: var(--display-header-image);
}
.x-entityImage-imageContainer img,
.main-avatar-image {
  display: var(--display-sidebar-image);
}
.main-trackList-rowImage {
  display: var(--display-tracklist-image);
}

/* ---Lyrics--- */

/* Font size */
.lyrics-lyrics-contentContainer .lyrics-lyrics-contentWrapper {
  font-size: 2rem !important;
}

/* Hide lyrics provider */
.lyrics-lyricsContent-provider {
  display: none;
}

/* Recolor */
.lyrics-lyrics-container {
  --lyrics-color-background: var(--spice-main) !important;
  --lyrics-color-inactive: rgba(255, 255, 255, 0.3) !important;
  --lyrics-color-passed: rgba(255, 255, 255, 0.1) !important;
  --lyrics-color-messaging: var(--spice-text) !important;
}

/* ---Fullscreen--- */

/* Hide "Playing from" */
.npv-header,
.npv-up-next,
.npv-background-image {
  display: none !important;
}

/* Lyrics background color */
.npv-background-color,
.npv-main-container {
  background-color: var(--spice-main) !important;
  background-image: linear-gradient(
    var(--spice-main),
    var(--spice-main)
  ) !important;
}

/* Lyrics text gradient */
.npv-lyrics__gradient.npv-lyrics__gradient-background.npv-lyrics__gradient--shown.npv-lyrics__gradient--full-screen {
  background-image: linear-gradient(transparent, var(--spice-main));
}

/* "Licenced and Provided by MusicMatch" */
p.npv-lyrics__text.npv-lyrics__text--credits {
  display: none;
}

/* Lyrics text */
.spotifyinternal-artistnpv .npv-lyrics__text {
  font-size: 5em;
  line-height: 1;
  margin: 0 0 1em;
}

/* Old lyrics, almost tranparent */
.npv-lyrics__text-wrapper--previous > p {
  color: rgba(255, 255, 255, 0.1) !important;
}

/* ---Artist--- */

/* Top bar*/
.main-topBar-topbarContent.main-entityHeader-topbarContent.main-entityHeader-topbarContentFadeIn {
  display: none;
}

/* Popular song background gradient */
.Bdcf5g__Rug3TGqSdbiy {
  --background-base-70: rgba(0, 0, 0, 0) !important;
}

/* "About" image*/
.jW4eWdr_LUeOXwPpKhWG.DRXonbAbVN5Vg9anDL1X {
  background-image: linear-gradient(
    var(--spice-main),
    var(--spice-main)
  ) !important;
}

/* ---Podcasts--- */

/* Recolor */
.T9iBYqbERZHdwDl0U2tC.dUScIGoP9fWn5IVsztB7, /* "Continue listening" */
.gYTsg8kvcGmu41_lilIb, /* "Exclusive benefits"*/
.Bns6t3CfzQaCA4DLRzPQ /* Trailer episode */ {
  background-color: var(--spice-main);
}

/* ---Other--- */

/* Album background */
.main-entityHeader-container > div {
  --background-base: none !important;
  --background-base-min-contrast: none !important;
}

/* Recolor topbar and content menu*/
.main-topBar-background,
.main-contextMenu-menu {
  background-color: var(--spice-main);
}

/* ---Marketplace--- */

/* Card background */
.main-card-card {
  background: var(--spice-main);
}

/* Card preview image */
div.marketplace-grid > div > div > div.main-card-imageContainer {
  display: var(--display-marketplace-image);
}
